@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-bg {
  background-color: #e30613;
}

.package-card {
  transition: transform 0.3s ease;
}


.package-card:hover {
  transform: translateY(-5px);
}

.slick-prev:before, .slick-next:before {
  color: #333;
}

.slick-dots li button:before {
  font-size: 12px;
}

.category-card {
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
}

.news-card {
  transition: all 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
}
